/* Add a black background color to the top navigation */
.topnav {
    background-color:#737373;
    overflow: hidden;
    border-radius: 50px 50px;
    width: 60%;
    float: right;
}

.nav-container.primary-wrapper {
    display: none;
}


/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #4CAF50;
    color: white;
} */

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

mySidenav a{
    position: absolute;
    transition: 0.4s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    margin: 0;

}

#mySidenav a:hover {
    left: 0;
}

/*logo styling*/
.headerLogo img {
    float: left;
    width: 350px;
    height: 200px;
    background: #1c1c1c;
    overflow: hidden;
    display: block;
}

/*side nav styling*/
 #aboutMe {
    top: 200px;
    background-color:#256697;
    border-radius: 0 5px 5px 0;
    position: absolute;
    transition: 0.4s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    left: -95px;
}

#whyArt {
    top: 280px;
    background-color:  #8a0616;
    border-radius: 0 5px 5px 0;
    position: absolute;
    transition: 0.4s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    left: -95px;
}

#learnArt {
    top: 360px;
    background-color:#f8b700;
    border-radius: 0 5px 5px 0;
    position: absolute;
    transition: 0.4s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    left: -95px;
}

#teachArt {
    top: 440px;
    background-color: #6da331;
    border-radius: 0 5px 5px 0;
    position: absolute;
    transition: 0.4s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    left: -95px;
 
}

#packages {
    top: 520px;
    background-color: #ff5216;
    border-radius: 0 5px 5px 0;
    position: absolute;
    transition: 0.4s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    left: -95px;
}

#testimonials {
    top: 600px;
    background-color: #460061;
    border-radius: 0 5px 5px 0;
    position: absolute;
    transition: 0.4s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    left: -95px;
}

/*body styling begins*/
body {
    background-color: #1c1c1c;
    font-family: 'Abel', sans-serif;
    box-sizing: border-box;
}
