.page{
	background-color:	 #262626;

}

.button1{
	color: white;
	font-size: 48px;
	font-family:Verdana;
}

.button2{
	color: white;
	font-size: 48px;
	font-family:Verdana;
}

.button3{
	color: white;
	font-size: 48px;
	font-family:Verdana;
}
