/*ASAP logo*/
.headerLogo {
    display: flex;
    justify-content: space-around;
    scroll-behavior: auto;
    position: fixed;
    z-index: 10;
    background: #1c1c1c;
    width: 100%;
    top: 0;
}
.logo {
    width: 350px;
    height: 200px;
    background: #1c1c1c;
    margin: 15px;
}

/* General style for the page */
body {
    background-color: #1c1c1c;
    font-family: Abel, sans-serif;
    font-size: 18px;
}
  /* This accounts for the logo and nav at the top when using anchor links */
span
  {
    display: block; 
    content: " "; 
    height: 200px;      
    margin-top: -200px;   
    visibility: hidden; 
    pointer-events: none;
  }
/* Hides the mobile nav on desktop */
.nav a {
    display: none;
}

/* format for the side nav, desktop/tablet only */
#mySidenav a {
    position: fixed;
    left: -10px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
    border-radius: 0 5px 5px 0;
    text-align: center;
    margin-top: 40px;
    scroll-behavior: auto;
    z-index: 15;
    /* border: hotpink solid 2px; */
}

/* Brings the side nav out when hovered on */
#mySidenav a:hover {
    left: 0;
}

/*side nav  section styling*/
#aboutMe {
    top: 200px;
    background-color: #256697;
}

#whyArt {
    top: 280px;
    background-color: #8a0616;
}

#learnArt {
    top: 360px;
    background-color: #f8b700;
}

#teachArt {
    top: 440px;
    background-color: #6da331;
}

#packages {
    top: 520px;
    background-color: #ff5216;
}

#testimonials {
    top: 600px;
    background-color: #460061;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0)  */
.sticky+.myContent {
    padding-top: 50px;
}

/* Desktop version of the slider, positions it to the right */
.slideshow-location {
    display: flex;
    justify-content: flex-end;
    /* border: hotpink 2px solid; */
}

/* desktop version of the slideshow */
.desktopslideshow-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 80%;
    /* border: hotpink 2px solid; */
}

/* Sets of 3 images */
.mySlides {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    z-index: -1;
    max-height: 300px;
    /* border: hotpink 2px solid; */
}

/* Images in the slideshow */
.images {
    flex-wrap: nowrap;
    align-self: center;
    width: 32.9%;
    height: 300px;
    max-width: 300px;
    border-radius: 5px 5px 5px 5px;
    /* border: greenyellow 2px solid; */
}

/* Fades slides in slider*/
.fade {
    animation: fading 2s
}
@keyframes fading {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

/* Next & previous buttons */
.leftChevron {
    font-size: 2em;
    color: white;
    float: left;
    cursor: pointer;
    padding: 4px;
}
.rightChevron {
    font-size: 2em;
    color: white;
    float: right;
    cursor: pointer;
    padding: 4px;
}

/* Hides mobile version on desktop */
.mobileslideshow-container  {
    display: none;
}

/* Alternating content sections */
.oddsection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #1c1c1c;
    color: whitesmoke;
    min-height: 350px;
    width: auto;
    margin-left: 150px;
    margin-top: 25px;
    margin-right: 10px;
    padding: 10px;
    /* border: yellow 2px solid; */
}

.evensection {
    display: flex;
    flex-direction: column;
    background-color: #424141;
    color: whitesmoke;
    min-height: 350px;
    width: auto;
    margin-left: 150px;
    margin-top: 25px;
    margin-right: 10px;
    padding: 10px;
    overflow: hidden;
    border-radius: 5px 5px 5px 5px;
    /* border: green 2px solid; */
}

/* section headers */
h3 {
    padding-left: 15px;
    font-weight: 1500px;
}

/* Content for the sections allows different flex alignment within each section after the title */
.stuff {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    /* border:hotpink 2px solid; */
}
.learn {
    border-radius: 5px 5px 5px 5px;
}

/* Text  */
.text {
    width: 50%;
    font-size: 18px;
}

/* Images that align right */
.rimage {
    height: 250px;
    width: 250px;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    border-radius: 5px 5px 5px 5px;
}

/* Images that align left */
.limage {
    height: 250px;
    width: 250px;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    border-radius: 5px 5px 5px 5px;
}
/* Images that center, sizes them */
.cimage {
    height: 250px;
    width: 250px;
    margin: 10px;
    border-radius: 5px 5px 5px 5px;
}
.bimage {
    height: 250px;
    width: 250px;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    align: left;
    border-radius: 5px 5px 5px 5px;
}

/* Boxes within the packages section of the site */
.package {
    flex-flow: column wrap;
    overflow: auto;
    border: 1px solid white;
    color: whitesmoke;
    text-align: center;
    margin: 10px;
    float: left;
    min-height: 290px;
    width: 200px;
    padding: 10px;
}

/* Buttons within the packages boxes */
.button1 {
    color: whitesmoke;
    background-color: #8a0616;
    width: auto;
    border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid whitesmoke;
}

.button2 {
    color: whitesmoke;
    background-color: #6da331;
    width: auto;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid whitesmoke;
}

.button3 {
    color: whitesmoke;
    background-color: #256697;
    width: auto;
    border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid whitesmoke;
}

/* Used for checking spacing */
.border {
    border: hotpink 2px;
    border-style: dashed;
}


